---
import BlogCard from '../../ui/BlogCard.astro';
import SectionShell from '../../ui/SectionShell.astro';
import SiteWrap from '../../ui/SiteWrap.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<SectionShell padding="none" class="py-[clamp(2rem,4vw,3rem)] pb-[clamp(5rem,10vw,8rem)]">
  <SiteWrap>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        posts.map((post) => (
          <BlogCard
            slug={post.id}
            title={post.data.title}
            description={post.data.description}
            date={post.data.date}
            type={post.data.type}
            readingTime={post.data.readingTime}
          />
        ))
      }
    </div>
  </SiteWrap>
</SectionShell>
